.logo{
    width: 30%;
    margin: 1rem 0 0 35% ;
}
.middle-container{
    display:  flex;
    margin-left:3%;
    
}
.award-img{
    width: 28%;
}
.headline{
    font-size: 1.4rem;
}
.p{
    width: 90%;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 500;
}
.photo{
    width: 90%;
    margin-left: 2rem;
}
.headline2{
    font-size: 1rem;
    width: 95%;
    margin-left: 2rem;
}
.h12{
    font-size: 1rem;
    margin: 2rem 0 0 4rem;
}
.pipeimg{
    width: 70%;
    margin: 3% 0 0 10%;
}
.pvalues{
    text-align: center;
    font-weight: 500;
}
.intro{
    font-size: 1rem;
    font-weight: 500;
    width: 95%;
    margin: 0 0 0 6%;
}
.footer{
    margin: 2rem  0 0 0;
    
    height: 10rem;
    background-color: red;
}
.phone-div{
    display: flex;
    align-items: center;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
body{
    background-color: rgb(226, 226, 179);
}

@media only screen and (max-width:500px){
    .logo{
        width: 80%;
    }
.award-img{
    margin-left: 5rem;
    width:40%;
    height: 40%;

}
.logo{
    margin: 0 0 0 10%;
}
.headline{
    font-size: medium;
}
.footer{
    flex-direction: column;
    align-items:center;
}
.middle-container{
    flex-direction: column;
}
.headline{
    font-size: medium;
    margin-left: 1rem;
}
ul li{
  
    font-size: 0.9rem;
}
.photo{
    margin-left: 0.5rem;
}
.headline2{
    font-size: 0.8rem;
    margin-left: 6px;
}
.h12{
    margin-top: 1rem;
    font-size: 0.8rem;
    margin-left: 1.4rem;
    width: 90%;

}
.pipeimg{
    margin-left: 20px;
    width: 85%;
}
.pvalues{
    width: 95%;
    margin-left: 10px;
}
.intro{
    text-align: center;
    width: 90%;
    font-size: 0.7rem;
}
}